@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');

.App {
  padding-top: 70px;
}

.background {
  background-color: #fff7e0;
  min-height: 90vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.line {
  background-color: #CFD8DC;
  height: 1px;
  width: 100%;
}

.dropdown-title {
  font-size: 17px;
}

.dropdown-text {
  font-family: Helvetica;
  font-weight: 500;
}

.dropdown-item {
  padding-top: 9px;
  padding-bottom: 9px;
}

.tab-pane.active { 
  animation-name: fadeIn; 
  animation-duration: 300ms; 
  animation-timing-function: linear; 
}

@keyframes fadeIn { 0% { opacity: 0; } 40% {opacity: 0;} 100% { opacity: 1; } }

.profile-pic {
  height: 43px;
}

.profile-pic-small {
  height: 35px;
}

.tabs {
  padding-bottom: 10px;
  cursor: pointer;
}

.nav-tabs .nav-link {
  color: black;
  border: none;
  margin-bottom: -0.5px;
}

.nav-tabs .nav-link:hover {
  border-bottom: 1.5px solid #2196F3;
}

.nav-tabs .nav-link.active {
  border-bottom: 1.5px solid black;
}

.bi-star-fill {
  color: #CFD8DC;
}

.bi-star-fill.active {
  color: #FBC02D;
}

.form-check-input {
  box-shadow: none !important;
}

.card-left{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.card-right{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.clickable-card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background-color: rgb(243, 247, 255);
}

.hawker-img{ 
  height: 80px;
}

.small-rating{
  font-size: 25px !important;
}

.small-rating li{
  margin-right: 2px;
}

.filter-form div.form-check{
  margin-top: 8px;
}

.hawker-detail p{
  font-size:17px;
}

.grey-card{
  background-color: rgb(239, 239, 239);
  border: none;
}

.page-transition{
  animation-name: fadeIn; 
  animation-duration: 350ms; 
  animation-timing-function: linear; 
}

@keyframes fadeIn { 0% { opacity: 0; } 40% {opacity: 0;} 100% { opacity: 1; } }

.toast.show {
  visibility: visible;
  -webkit-animation: toastIn 0.3s, toastOut 0.3s 1.7s;
  animation: toastIn 0.3s, toastOut 0.3s 1.7s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes toastIn {
  from {bottom: -10px; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes toastIn {
  from {bottom: -10px; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes toastOut {
  from {bottom: 30px; opacity: 1;}
  to {bottom: -10px; opacity: 0;}
}

@keyframes toastOut {
  from {bottom: 30px; opacity: 1;}
  to {bottom: -10px; opacity: 0;}
}